<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <a href="/">Цитаты©</a>
        <a href="/citate">Работа с цитатами</a>
        <a href="/citate/add">Добавление цитат➕</a>
        <a href="/citate/top">Топ 10 цитат💯</a>
    </nav>
    <main>
    {% block body %}

    {% endblock %}   
    </main> 
</body>
</html>