<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <a href="/">Цитаты©</a> | 
        <a href="{% url 'citate:citates' %}">Работа с цитатами</a> | 
        <a href="{% url 'citate:add' %}">Добавление цитат➕</a> | 
        <a href="{% url 'citate:top' %}">Топ 10 цитат💯</a> | 
        <a href="{% url 'citate:all' %}">Посмотреть цитат</a>
        {% if request.COOKIES.quote_user %}
        | <a href="{% url 'citate:my_citates' %}">Мои цитаты</a>
        {% endif %}
    </nav>
    <main>
    {% block body %}

    {% endblock %}   
    </main> 
</body>
</html>