{% extends 'layout.html' %}

{% block title %}
    Случайная цитата
{% endblock %}

{% block body %}
{% csrf_token %}
{% if citate.character %}
    {% if citate.character %}
    <h2>
        {{ citate.character }}: 
    </h2>
    {% endif %}
    <h1> 
        "{{ citate.content }}" 
    </h1>            
    <p>
        увидели {{ citate.views }} человек 👁
    </p>
    <p>
        Загружена {{ citate.date|date:"d.m.Y" }}
    </p>
    <p>
        Рейтинг на сайте <p id="current-raiting">{{ citate.raiting }}</p>
    </p>
    <article>
        <button class="vote-button" data-citate-id="{{ citate.pk }}" data-action="Like">Like ❤</button>
        <button class="vote-button" data-citate-id="{{ citate.pk }}" data-action="Dislike">Dislike 💔</button>
    </article>
    <button id="update-button">Еще цитатку?⏩</button>

    
{% else %}
    <p>
        "Цитат пока нет(("
    </p>

{% endif %}

    <script>
        document.querySelectorAll('.vote-button').forEach(button => {
            button.addEventListener('click', function(){
                const citateID =  this.dataset.citateId;
                const action  = this.dataset.action;

                if (!citateID || !action) {
                    alert('Ошибка: отсутствуют необходимые данные');
                    return;
                }

                fetch("{% url 'update_rating' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: new URLSearchParams({
                            'citate_id' : citateID,
                            'action': action                        
                        })
                    })
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            document.getElementById('current-raiting').textContent = data.new_rating;
                        } else {
                            alert('Ошибка: '+ data.message);
                        }
                    })
                    .catch(error=>{
                        alert('Ошибка: '+ error.message);
                    });
            });
        });

        document.getElementById('update-button')?.addEventListener('click', function(){
            window.location.reload();
        })
    </script>
{% endblock %}