{% extends 'layout.html' %}

{% block title %}
    Здесь цитаты
{% endblock %}

{% block body %}
    <section>
        <h1>Представляем вашему вниманию 10 лучших цитат этого сайта</h1>
        <table border=1 class="top-citates-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Персонаж</th>
                    <th>Цитата</th>
                    <th>Просмотры</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for citate in citates %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ citate.character|default:"-" }}</td>
                    <td>{{ citate.content }}</td>
                    <td>{{ citate.views }}</td>
                    <td>{{ citate.date|date:"d.m.Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
